<h1>Upload de Arquivo PSD</h1>

<% if @psd_file.errors.any? %>
  <ul>
    <% @psd_file.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @psd_file, multipart: true do |form| %>
  
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :psd, "Arquivo .psd" %>
    <%= form.file_field :psd, accept: ".psd", required: true %>
  </div>

  <br>
  <%= form.submit "Enviar PSD" %>
<% end %>